{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Entrenamiento</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Activity</th>
                <td>{{ entity.activity }}</td>
            </tr>
            <tr>
                <th>Occurrencedate</th>
                <td>{{ entity.occurrenceDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Hours</th>
                <td>{{ entity.hours }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('workoutcrud_edit', { 'id': entity.id }) }}" class="btn btn-large btn-block btn-default">
            Editar
        </a>
    </li>
    <br><br>
    <li>
        <a href="{{ path('workoutcrud') }}" class="btn btn-large btn-block btn-default">
            Regresar al listado
        </a>
    </li>
    <br>   
    
    <li > {{ form(delete_form) }} </li>
</ul>
{% endblock %}
